.label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.selected {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    width: 100px;
    height: 40px;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

@media (max-width: 500px) {
    .tab {
        width: 90px;
        height: 30px;
    }
    .selected{
        width: 90px;
        height: 30px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
}
