.text {
    font-size: 20px;
}

.link {
    text-decoration: none;
    margin-left: 10px;
}
.profileContainers {
    display: flex;
}
.profileContainer {
    display: flex;
    justify-content: center;
}

.img {
    width: 20px;
}
.btn {
    margin-top: 10px;
}



.packsContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 90vh;
    max-width: 60%;
    background-color: #fffcf9;
    background-image: linear-gradient(315deg, #fffcf9 0%, #ffd166 74%);
    border-radius: 8px;
    padding: 25px 33px;
    width: 96%;
    border: #484848 3px solid;
    position: relative;
}