table {
    font-weight: bolder;
    width: 100%;
}
.tr {
    width: 100%;
}
.cardsCount {
    width: 10%;
    overflow: hidden;
}

.cardsName {
    width: 25%;
    overflow: hidden;
    padding-left: 20px;
}

.cardsUpdated {
    width: 25%;
    overflow: hidden;
}

.cardsUserName {
    width: 20%;
    overflow: hidden;
}

.cardsBtn {
    overflow: hidden;
    width: 20%;
}


.lear {

}

.name {
    cursor: pointer;
}