.searchBlock {
    position: relative;
}

.searchInput{
    width: 400px;
    padding: 10px 30px 10px;
    display: block;
    border-radius: 5px;
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}
.searchInput:hover {
    width: 400px
}
.searchInput:focus {
    outline: none;
    width: 500px
}
.icon {
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 10px;
}