.main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    padding-right: 20px;
    padding-left: 20px;
}


.backBtn {
    display: flex;
    flex-direction: row;
}

.searchFields {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cards {
    position: relative;
    box-shadow: 0px 4px 14px rgba(45, 46, 70, 0.15);
    width: 100%;
    text-align: left;
    color: #000;
    font-size: 20px;
    line-height: 16px;
    margin: 24px 0;
    overflow: auto;
    scrollbar-width: thin;
    max-height: 50vh;
}


.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}