/*.headerContainer {*/
/*    display: grid;*/
/*    grid-template-columns: 2fr 1fr 2fr 2fr 2fr;*/
/*    padding-top: 20px;*/
/*    font-weight: 700;*/
/*    font-size: 25px;*/
/*    background-color: red;*/
/*    max-width: 70%;*/
/*    margin-left: 30%;*/
/*    list-style-type: none;*/
/*}*/
.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 50px;
    font-weight: 700;
    font-size: 25px;
    background-color: red;
    width: 100%;;
}